<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    {% block header %}
        <title>گروه آموزشی حامی بورس</title>
        <meta name="description" content="سرمایه‌گذاری هوشمند در بازارهای مالی با آموزش تحلیل تکنیکال، تحلیل بنیادی، تابلوخوانی و فیلترنویسی و ارائه جدیدترین تحلیل‌ها از بازار سرمایه">
        <meta name="keywords" content="بورس, بورس کالا, معاملات بورس, بولتن هفتگی, فیلترنویسی, سرمایه‌گذاری, آموزش, تابلوخوانی, نماد">
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
{% block content %}{% endblock %}
</body>
</html>